.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav p {
    color: orange;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

button {
    border: 1px solid #13678A;
    border-radius: 5px;
    margin-left: 15px;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 600;
    text-shadow: 1px 1px 2px black;
    background-color: orange;
    color: #fff;
    cursor: pointer;
}