body {
  font-family: 'Oswald', sans-serif;
}

h1 {
  text-align: center;
  color: orange;
  padding: 5px 0;
  border-radius: 5px;
  text-shadow: 1px 1px 1px black;
}

ul {
  list-style-type: decimal;
  margin: 20px 0 20px 0;
  color: orange;
  text-shadow: 1px 1px 1px black;
  font-size: 18px;
}

input[type=text] {
  border: 1px solid #13678A;
  border-radius: 5px;
  padding: 5px;
  width: 300px;
  font-size: 15px;
}

input[type=submit] {
  border: 1px solid #13678A;
  border-radius: 5px;
  margin-left: 15px;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: 600;
  text-shadow: 1px 1px 2px black;
  background-color: orange;
  color: #fff;
  cursor: pointer;
}

#root {
  width: 400px;
  background-color:#13678A;
  border-radius: 5px;
  padding: 0 15px 15px;
  margin: 10px auto;
  border: 1px solid #13678A;
  box-shadow: 1px 1px 5px #012030;
}

span {
  cursor: pointer;
  color: red;
  font-weight: bold;
}